@charset "utf-8";
/* 초기화 */
html {overflow-y:scroll; background:#1c1c1c;}
body {margin:0;padding:0;font-size:0.75em;font-family:'Malgun Gothic', dotum, sans-serif;background:#1c1c1c;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
input[type="submit"]{cursor:pointer}
button {cursor:pointer}

textarea, select {font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#fff;text-decoration:none}
a:hover {text-decoration: none; color:#ddd;}


*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.6s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.6s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.zoom-enter-active,
.zoom-leave-active {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: zoom;
}

.zoom-leave-active {
  animation-direction: reverse;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

input[type=text],input[type=password], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.placeholdersjs { color: #aaa !important; }
.clear-both {clear:both;}


header {
    text-align: center;
    background: #000000;
    padding: 10px 20px;
    border-bottom:0px solid #2d2d2d;
    height: 60px;
}
header nav {
    background: #000000 !important;
}
footer {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size:12px;
    padding-top:20px;
    padding-bottom:20px; 
}

footer .container {
    border-top:1px solid #2e2e2e;
    padding-top:20px;
    padding-bottom:20px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.sub_title {
    background: #f9f9f9;    
    padding:15px 5px;
    border-bottom:1px solid #e3e3e3;
}

.header-right-icon {
    cursor: pointer;
    padding: 0px 10px;
}

.uk-modal {
    padding: 70px 15px;
}

@media (max-width:1024px){
    .container {
        width: 100%;
        margin: 0 auto;
    }   
}

@media (max-width:766px){
    .mobile-hide {
        display: none;
    }
}

.contentinfo {
    width: 90%; 
    margin: 20 auto;
}

.top-padding-space {
    padding-top:40px;
}

.backwithe {
    background: #fff;
}

.border-line {
    border:1px solid #0e0e0e;
}

.logo {
    height:40px;
}

.mainpage-info {
    padding: 50px 0px;
}

/* mainpage */
.section_type02{ width:100%; display:table; }

.section_type02 .item {
  width:33.3%; float:left; padding:50px 20px;
}

.section_type02 .item h1 {
  font-size:2.5em; font-weight:700; text-align:center; color:#373737;
}
.section_type02 .item .desc {
  font-size:1em; color:#868686; margin:30px 0px; line-height:18px;
}

.section_type02 .item .cycle-btn {
  padding:30px 25px; border-radius:100px; color:#fff; width:110px;
  background:#000; text-align:center; margin:0 auto; font-weight:700;
  font-size:18px; cursor:pointer;
}

.section_type02 .item .cycle-btn:hover {
  background:#2980B9;
  transition:0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  -o-transition:0.3s;
}

@media (max-width:969px){
  .section_type02 .item {
    width:100%;
  }
}


/* About Style */
.about-title {
    text-align: center;
    padding-bottom:100px;
}
.about-title h2 {
    font-weight: 700;
    padding-top:20px;
    padding-bottom:20px;
}
.about-title p {
    font-size: 16px;
}
.aboutbox {
    padding-top:100px;
    display: table;
    width:100%;
}
.aboutbox .left{
    width:50%;
    float:left;
    padding:15px;
}
.aboutbox .left h3{
    font-weight: 700; letter-spacing: -1px;
}
.aboutbox .left h4{
    padding:10px 0px;
    font-size:16px;
}
.aboutbox .left p{
    font-size: 16px;
    padding-bottom:10px;
}
.sns-icon li{
    float: left;
    padding:5px;
}

.aboutbox .right{
    width:50%;
    float:left;
    padding:15px;
}
.aboutbox .right h3{
    font-weight: 700; letter-spacing: -1px;
    margin-bottom:20px;
}
.aboutbox .right .skil-persent {
    width: 100%;
    background:#f3f3f3;
    height:10px;
    margin-bottom:10px;
}
.aboutbox .right .skil-persent div {
    background: rgb(172, 172, 172);
    height:10px;
    text-align: right;
    padding-top:10px;
}


/* portfolio */
.contentinfo .uk-card-body {
    padding:10px 15px;
}
.contentinfo .uk-card-body h3 {
    font-size:1.4em;
}

.portfolio-detail {
    padding: 20px 0px;
    display: table;
    width:100%;
}

.portfolio-detail .left{
    width:50%; float: left;
    padding:10px;
}
.portfolio-detail .left h2{
    padding-bottom:15px;
}
.portfolio-detail .left .link{
    margin-bottom:20px;
}
.portfolio-detail .left .makett{
    clear:both;
    font-weight: 700;
    font-size:16px;
    margin-top:8px;
}
.portfolio-detail .left .makett span{
    font-weight: 300;
}
.portfolio-detail .right{
    width:50%; float: left;
    text-align: center;
}


@media (max-width:965px){
    .aboutbox {padding-top:50px;}
    .about-title {padding-bottom:30px;}
    .aboutbox .left, .aboutbox .right{width:100%;}
    .portfolio-detail .left, .portfolio-detail .right{width:100%}
}



/* modal */
#modal .itemlist{
    position: relative;
    padding:5px 0px;
    font-size:14px;
}

#modal .itemlist .rightBtn {
    position: absolute;
    top:3px;
    right:0px;
    border: 1px solid #e3e3e3;
    font-size:12px;
    padding: 2px 5px;
    cursor: pointer;
}


#footer_bottom { display: none; }

@media (max-width:900px){
    #footer_bottom { display: block; padding:8px 0px; border-top:1px solid #222222; background-color: #151515; position: fixed; width:100%; left:0px; bottom:0px; } 
    #footer_bottom ul { margin:0px; padding:0px; }
    #footer_bottom ul li { float:left; width:25%; text-align: center; font-size:11px; } 
    #footer_bottom ul li a { font-size:11px; }   
    #footer_bottom ul li a span { margin-bottom:3px; }
}


#contentModal {
    position:fixed; top:0px; left:0px; z-index:1000; width:100%; height:100vh; background:rgba(255, 255, 255, 0);
}

#contentModal .modal {
    position:relative; top:59px; background:#fff; height:calc(100vh - 60px); overflow:auto; border-radius: 5px;
    border:1px solid #d3d3d3;
    width: 1025px;
}

#contentModal .modalHead {
    height: 50px; width:1023px; border-bottom:1px solid #d3d3d3; background: #fff; border-radius: 5px;
    position: fixed; z-index: 1001;
}

@media (max-width:1024px){
    #contentModal .modal {
        position:relative; top:0px; background:#fff; height:100vh; overflow:scroll; border-radius: 0px;
        width: 100%;
    }
    #contentModal .modalHead {
        height: 50px; width:100%; border-bottom:1px solid #d3d3d3; background: #fff; border-radius: 0px;
        position: fixed; z-index: 1001;
    }
}


.topScroll {
    position:fixed; bottom:60px; right: 10px;
}

.topScroll .top, .topScroll .reflash {
    background: #505050;
    padding: 12px;
    border-radius: 25px;
    clear: both;
    margin-bottom:5px;
    color: #fff;
}

.contents-img {
    max-width: 100%;
}

.contents-top {
    display: none;
}

.imgCanvas {
    width: 600px;
    height: 700px;
}


.border-round {
    border-radius: 15px;
}

@media (max-width:1024px){
    .popup-modal {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1000;
        width: 100%;
        background:#000000;
        height: 100vh;
        padding-top:0px;
    }

    .imgCanvas {
        width: 600px;
        height: 300px;
    }

    .border-line {
        border: 0px;
    }

    .contents-img {
        width: 100%;
    }

    .contents-top {
        display: block;
        height: 50px;
        position: fixed;
        top:0px;
        left:0px;
        width: 100%;
        z-index: 1001;
        background: rgb(0, 0, 0);
        padding: 12px;
    }

    .contents-top .right {
        float: right;
    }

    .contents-top .title {
        padding-left: 30px;
        font-weight: 700;
        font-size:16px;
        text-transform: uppercase;
    }

    .contents-box {
        margin-top:50px;
    }
}


.contents-tabs {
    width: 100%;
}

.contents-tabs li{
    width: 50%;
}

.contents-tabs>.uk-active>a{
    background:rgb(180, 180, 180) !important;
}

.uk-card-footer {
    background:#1c1c1c;
    color:#fff;;
}

.uk-card-footer a{
    color:#ddd;
}

.uk-card-default{
    background: #1c1c1c !important;
}

.uk-card-default .uk-card-footer{
    border-top:0px;
}